.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.125s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.wszdbhzo {
    padding: 16px;
    text-align: center;
}

.wszdbhzo > ::deep .retry {
    margin-top: 16px;
}
