.adhpbeou > .label {
    font-size: 0.85em;
    padding: 0 0 8px 0;
    user-select: none;
}

.adhpbeou > .label:empty {
    display: none;
}

.adhpbeou > .caption {
    font-size: 0.85em;
    padding: 8px 0 0 0;
    color: var(--fgTransparentWeak);
}

.adhpbeou > .caption:empty {
    display: none;
}
