.novjtctn {
    position: relative;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    padding: 8px 10px;
    min-width: 60px;
    background-color: var(--panel);
    background-clip: padding-box !important;
    border: solid 1px var(--panel);
    border-radius: 6px;
    transition: all 0.2s;
}

.novjtctn > * {
    user-select: none;
}

.novjtctn.disabled {
    opacity: 0.6;
}

.novjtctn.disabled,
.novjtctn.disabled * {
    cursor: not-allowed !important;
}

.novjtctn:hover {
    border-color: var(--inputBorderHover) !important;
}

.novjtctn.checked {
    background-color: var(--accentedBg) !important;
    border-color: var(--accentedBg) !important;
    color: var(--accent);
}

.novjtctn.checked,
.novjtctn.checked * {
    cursor: default !important;
}

.novjtctn.checked > .button {
    border-color: var(--accent);
}

.novjtctn.checked > .button::after {
    background-color: var(--accent);
    transform: scale(1);
    opacity: 1;
}

.novjtctn > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
}

.novjtctn > .button {
    position: absolute;
    width: 14px;
    height: 14px;
    background: none;
    border: solid 2px var(--inputBorder);
    border-radius: 100%;
    transition: inherit;
}

.novjtctn > .button::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: 100%;
    opacity: 0;
    transform: scale(0);
    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.novjtctn > .label {
    margin-left: 28px;
    display: block;
    line-height: 20px;
    cursor: pointer;
}
