.terlnhxf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--mk-form-split-min-width, 210px), 1fr));
    grid-gap: 12px;
}

.terlnhxf ::deep > * {
    margin: 0 !important;
}
