.mk-following-or-followers > .users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: var(--margin);
    padding: var(--margin);
    border-radius: 12px;
    background-color: var(--panel);
}
